AnyPoint/lab4_fileconnectorsyciclos/src/main/mule/lab4_fileconnectorsyciclos.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <flow name="list-files-flow">

        <!-- 1) Escucha POST en /list-files -->
        <http:listener config-ref="HTTP_Listener_config" path="/list-files" allowedMethods="POST"/>

        <!-- 2) Toma la ruta desde query param ?path= -->
        <set-variable variableName="directoryPath" value="#[attributes.queryParams.path]"/>

        <!-- 3) Lista archivos en la ruta -->
        <file:list doc:name="List" directoryPath="#[vars.directoryPath]"/>

        <!-- 4) Inicializa acumulador -->
        <set-variable variableName="files" value="#[[]]"/>

        <!-- 5) Itera cada resultado de file:list -->
        <foreach collection="#[payload]">
            <!-- Logger para inspecci칩n: ver치s que payload es Binary y los metadatos est치n en attributes -->
            <logger level="INFO"
                    doc:name="Per-item Logger"
                    message='PayloadType: #[typeOf(payload)] | Name: #[attributes.name] | Path: #[attributes.path]' />

            <!-- Acumula {name, path} desde attributes (NO desde payload) -->
            <set-variable variableName="files"
                          value="#[vars.files ++ [{ 
                              name: attributes.name, 
                              path: attributes.path 
                          }]]"/>
        </foreach>

        <!-- (Opcional) Logger final del acumulado -->
        <logger level="INFO" doc:name="Files Accumulated" message="#[write(vars.files, 'application/json')]" />

        <!-- 6) Respuesta -->
        <choice>
            <when expression="#[sizeOf(vars.files) > 0]">
                <ee:transform doc:name="To XML (files)">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
files: {
    file: vars.files map (f) -> {
        name: f.name,
        path: f.path
    }
}]]></ee:set-payload>
                        <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
{
    headers: {
        "content-type": "application/xml"
    },
    statusCode: 200
}]]></ee:set-attributes>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="To XML (error)">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
    error: {
        code: 404,
        message: "No se encontraron archivos en la ruta especificada"
    }
}]]></ee:set-payload>
                        <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
{
    headers: {
        "content-type": "application/xml"
    },
    statusCode: 404
}]]></ee:set-attributes>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>

    </flow>

    <!-- Configuraci칩n HTTP -->
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

</mule>
