AnyPoint/mule_app1-insert-select/src/main/mule/mule_app1-insert-select.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:logger="http://www.mulesoft.org/schema/mule/logger"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/logger http://www.mulesoft.org/schema/mule/logger/current/mule-logger.xsd
          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

  <!-- Configuración HTTP Listener -->
  <http:listener-config name="HTTP_Listener_config">
    <http:listener-connection host="0.0.0.0" port="8081" />
  </http:listener-config>

  <!-- Configuración conexión Oracle DB -->
  <db:config name="Database_Config">
    <db:oracle-connection host="localhost" port="1521" user="mule" password="root" instance="XE" />
  </db:config>

  <!-- Flow: SELECT empleados -->
  <flow name="consultaFlow">
    <http:listener path="/select" config-ref="HTTP_Listener_config" />
    <db:select config-ref="Database_Config">
      <db:sql>SELECT * FROM empleados</db:sql>
    </db:select>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
          output application/json
          ---
          payload
        ]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" message="#[payload]" />
  </flow>

  <!-- Flow: INSERT empleado -->
  <flow name="insertarFlow">
    <http:listener path="/insertar" config-ref="HTTP_Listener_config" />

    <!-- No se necesita transformar, el payload ya es un objeto -->
    
    <db:insert config-ref="Database_Config">
      <db:sql><![CDATA[
        INSERT INTO empleados (nombre, puesto, salario)
        VALUES (:nombre, :puesto, :salario)
      ]]></db:sql>
      <db:input-parameters><![CDATA[
        #[{
          nombre: payload.nombre,
          puesto: payload.puesto,
          salario: payload.salario
        }]
      ]]></db:input-parameters>
    </db:insert>

    <logger level="INFO" message="Empleado insertado correctamente: #[payload.nombre]" />
  </flow>

</mule>
